@charset "UTF-8"

@import 'stick/function'
@import 'stick/mixin'

html, body
  margin 0
  padding 0

html
  monospace()
  min-height 100%

  color gray
  background-color white

body
  padding 10px

@import 'growl'
