@import 'stick/mixin'

duration = 0.45s
jump = 20

.theNotification
  background-color rgba(blue, 0.8)
  color white
  border-radius 5px
  box-shadow 0 0 5px rgba(gray, 0.5)
  box-sizing border-box
  width 300px
  padding 10px
  position fixed
  top auto
  right auto
  bottom auto
  left auto
  user-select none
  backface-visibility hidden
  will-change transform, opacity
  transform translateY(jump * -1px)
  opacity 0
  transition opacity duration, transform duration

.theNotification__title
  font-size 1.1em
  margin 0 0 10px 0

.theNotification__msg
  font-size 0.9em
  margin 0

.theNotification--show
  transform translateY(0)
  opacity 1

.theNotification--remove
  transform translateY(jump * 1px)
  opacity 0
