.theNotification {
  background-color: rgba(0,0,255,0.8);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(128,128,128,0.5);
  box-sizing: border-box;
  width: 300px;
  padding: 10px;
  position: fixed;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform, opacity;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s, transform 0.45s;
}
.theNotification__title {
  font-size: 1.1em;
  margin: 0 0 10px 0;
}
.theNotification__msg {
  font-size: 0.9em;
  margin: 0;
}
.theNotification--show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.theNotification--remove {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}
