doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title App
    link(rel='stylesheet', href='css/app.css')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    if (build)
      script(src='js/main.js', async)
    else
      script(src='js/lib/require.js', data-main='js/main', async)
  body
    article
      h1 Basic App
      p
        | Making a better and awesome web!!!
      p
        button#bt(type="button") Click here!!
      #info
